<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftTry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1B3E48D1F4E519300D69722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1B3E4A11F4E519400D69722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1B3E4AC1F4E519400D69722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
